.kedharkantha-container{
    height: 100vh;
    max-width: 100%;
    
}
.kedharkantha-content{
    height: 100vh;
    min-width: 100%;
background: url('../assets/img1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.kedarkantha-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}
.details{
    padding: 10px 20px;
    font-family: sans-serif;
}
.details .detail-h1{
    font-size: 3em;
    color: white;
    text-shadow: 0 0 10px rgb(77, 74, 74);
    margin: 10px;
}

.detail-p{
    color: white;
    font-size: 1.1em;
}
.detail-button{
    margin: 10px;
    background-color: white;
    outline: none;
    border: none;
    padding: 1em 5em;
    font-weight: 600;
    transition: 0.4s;
}
.detail-button:hover{
    transform: translateY(-2px) ;
    background-color: #FF8300;
    color: white;
}